{% extends 'basenav.html'%}
{% block titulo%}

{% endblock %}
{%block contenido%}
<section class="conteniAGRECA">
	<h2 class="text-center " style="color: white">AGREGAR CARRO</h2>
	<section>
		<form action="" method="POST" enctype="multipart/form-data">
		{% csrf_token%}
		<!--{{formulario.as_p}} -->
		<section class="sombraAGRECA">
			<div class="form-row">
				 <div class="form-group col-md-6">
			    	<label for="id_modelo">Modelo</label>
			    	{{formulario.modelo}}
			     </div>
			      <div class="form-group col-md-6">
			    	<label for="id_ciudad">Ciudad</label>
			    	{{formulario.ciudad}}
			     </div>
			     <div class="form-group col-md-6">
			    	<label for="id_marca">Marca</label>
			    	{{formulario.marca}}
			     </div>
				 <div class="form-group col-md-6">
			    	<label for="id_placa">Placa</label>
			    	{{formulario.placa}}
			    </div>
			     <div class="form-group col-md-6">
			    	<label for="id_idalarma">Idalarma</label>
			    	{{formulario.idalarma}}
			    </div>
			    <div class="form-group col-md-6">
			    	<label for="id_persona">PersonaId</label>
			        {{formulario.persona}}
			    </div>
		  	</div>
		  	

		  	{% if formulario.errors %}
				<div class="alert alert-danger" role="alert">
				<a>
					{{formulario.modelo.errors}}
					{{formulario.ciudad.errors}}
					{{formulario.marca.errors}}
					{{formulario.placa.errors}}
					{{formulario.idalarma.errors}}
					{{formulario.persona.errors}}
				</a>
				</div>	
			{% endif %}
			<hr/>
				
			<input type="submit" type="submit" class="btn btn-primary col-md-2" value="Agregar Carro">
			<p>TODOS LOS CAMPOS SON OBLIGATORIOS</p>	
	     </section>	
	   </form>	
	</section>

{% block javascript %}
	<script type="text/javascript">
		// In your Javascript (external .js resource or <script> tag)
		$(document).ready(function() {
		    $('.js-example-basic-single').select2();
		});
	</script>
{% endblock javascript %}
{% endblock %}