{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 , shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Validar información</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/myestilo.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/static/css/sporta.css">
</head>
<body>
	<section class="card container col-sm col-md col-lg text-center" style="width: 20rem;">
		<img src="/static/ima/ees.png" class="card-img-tp" alt="12">
		<p class="parra">Validar información. 
			 Por favor llena todos los campos
		</p>
		
		<form method="POST" action="">
			{% csrf_token %}
			<label for="identificacion">Identificación</label>
				{{formulario.identificacion}}
			<label for="respuesta">Respuesta</label>
				{{formulario.respuesta}}
			{% if formulario.errors %}
				<div class="alert alert-danger" role="alert">
				<a>
					{{formulario.identificacion.errors}}
					{{formulario.respuesta.errors}}
				</a>
				</div>	
			{% endif %}

			<div>
				<input type="submit" value= "validar">
			</div>
		</form>
			

		
	</section>




    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>