{% extends 'base.html'%}
{% block titulo%}
	validar informacion 
{% endblock %}
{%block contenido%}
	<div class="col-sm col-md col-lg form-signin text-center">
	<form action="" method="POST" enctype= "multipart/form-data" class="container ">
		<h2>Validar Información</h2>
	{% csrf_token%} 
	<!--{{formulario.as_p}}-->
	<div>
		<label for="identificacion" >Identificación</label>
		{{formulario.identificacion}}
		
	</div>
	<div>
			<label for="respuesta">Respuesta</label>
			{{formulario.respuesta}}

			
	</div>
	{% if formulario.errors %}
	<div class="alert alert-danger" role="alert">
		<a >
			{{formulario.identificacion.errors}}
		    {{formulario.respuesta.errors}}
		</a>
		

		
	</div>
	{% endif %}

	<input type="submit" value= "validar">		
	</form>	
	</div>
{% endblock %}