{%load static%}
<!DOCTYPE html>
<html>
    <head>
      <title>no</title>
      <!-- <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
      <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %} "> -->
      <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
      <link rel="stylesheet" type="text/css" href="/static/css/pos.css">

    </head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #2962ff;">
        <a class="navbar-brand" href="{% url 'vista_inicio'%}"> 
        <span> <img src="/static/ima/a.jpg" width="250" height="40" alt=""> </span> 
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link " href="{% url 'vista_inicio'%}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'vista_login'%}">Iniciar seccion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'vista_mensaje'%}">Contacto</a>
            </li>

          </ul>
        </div>
      </nav> 
      <div>
         
         <img  class="imag" >


      </div>
      <div class="container text-center textobien">
      
       <h1>BIENVENIDOS A CARSAFE</h1> 
       <h4>SISTEMAS DE ALARMA PARA VEHICULOS, CON NOTIFICACIÓN AL SMARTPHONE</h4>
      </div> 

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

      <h1>alarma con sigfox</h1>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
   
  </body>
</html>