{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>alarmas para vehiculos</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/static/css/myestilo.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/static/css/sporta.css">
</head>
<body>
    <header>
        <nav class=" estbar navbar navbar-expand-lg navbar-light bg-light fixed-top">
         <a class="navbar-brand" href="#">ALARMA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
       </ul>
       </div>
      </nav>

    </header>
    <section>
      <div class="conteni"> 
        <div class="sombra text-center">
            <h1>Alarma</h1>
            <p> diseño solo</p>
            <hr/>
            <div class="contelink text-center" >
                <a href="">uno</a>
                <a href="">dos</a>
                <a href="">tres</a>
            </div>
        </div>
      </div>  
    </section>
  
</body>

<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</html>