{% extends 'basenav.html'  %}
{% block titulo %}

{% endblock %}
{% block contenido %}
 
	    <div>
		<table class="table table-striped col-sm col-md col-lg">
		<div class ="text-center">
        	<a class="btn btn-primary" href="{% url 'vista_agregar_persona' %}" id="btn-dos">Crear Registro Persona
        	</a>
        	
        </div>
		<thead>
			<tr>
				<th scope="col">id</th>
				<th scope="col">modelo</th>
				<th scope="col">ciudad</th>
				<th scope="col">marca</th>
				<th scope="col">placa</th>
			</tr>
		</thead>
		<tbody>
			{% for p in lista%}
				<tr>
					<td>{{p.id}}</td>
					<td>{{p.modelo}}</td>
					<td>{{p.ciudad}}</td>
					<td>{{p.marca}}</td>
					<td>{{p.placa}}</td>
					<td> <a class="btn btn-primary"  href="{% url 'vista_eliminar_carro' id_Carro=p.id%}" disabled> eliminar registro</a> 
						
					<span class="spinner-grow spinner-w-sm" role="status" aria-hidden="true"></span>
					<span class="sr-only">lo....</span>
					</td>
					<span><button type="button" id="btn-one" class="btn btn-primary">CREAR REGISTRAR</button></span>

				</tr>
			{% endfor%}
		</tbody>

	    </table>
	    </div>
{% endblock %}
